
<div class="ui-g ui-fluid">
  <div class="ui-g-12" align="center">
    <font size="5"> Login </font>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">
    <span class="ui-float-label">
      <input id="username" type="text" pInputText>
      <label for="username">Username</label>
    </span>
    </div>
  </div>
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-4 ui-md-offset-4">
    <span class="ui-float-label">
      <input id="password" type="password" pInputText>
      <label for="password">Password</label>
    </span>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4 ui-md-offset-4">
    <button label="Entrar" pButton></button>
  </div>

  <div class="ui-g-12" align="center">
    <a href="">Criar usuário</a>
  </div>

</div>
